.chefs-section{

    &__title {
        position: relative;
        margin:0 auto 80px;

        &::before{
            position: absolute;
            bottom: 24px;
            left: 0;
            display: block;
            width: 352px;
            border: 2px solid var(--color-brand-light);
            content: '';
        }
    
        &::after{
            position: absolute;
            bottom: 24px;
            right: 0;
            display: block;
            width: 352px;
            border: 2px solid var(--color-brand-light);
            content: '';
        }
    }


    &__list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: calc((100% - 30px) / 2);
    }
}
